@import 'mixins';
@import 'constants';

.wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    & > * {
        margin-bottom: 2rem;
    }
}

.avatar-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;

    &__avatar {
        margin-right: 1rem;
    }

    &__msg {
        margin-left: 1rem;
    }
}

.alert {
    width: 100%;

    @include responsive($screen-sm-min) {
        width: 75%;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;

        & > * {
            margin-bottom: 1rem;
        }
    }

    &__button {
        width: 100%;
        height: 100%;
    }

    @include responsive($screen-sm-min) {
        &__button {
            width: 75%;
            height: 100%;
        }
    }

    &__divider {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    @include responsive($screen-sm-min) {
        &__divider {
            width: 75%;
        }
    }
}

.login {
    &__button {
        width: 100%;
    }

    @include responsive($screen-sm-min) {
        &__button {
            width: 75%;
        }
    }
}
